.yollow {
    color:darkgoldenrod;
}

.tag_bg{
    background: #7A6A4C;
    transition: transform 0.05s ease-in;
}

.tag_bg:hover {
    transform: scale(1.1);
}

.aboutme_bg {
    background-image: url('img/electron_BG.svg');
    background-position: center;
    background-attachment: fixed;
}

/* try to crop pic with toast, but failed */
.mask-toast {
    -webkit-mask-image: url('img/toast.svg');
    mask-image: url('img/toast.svg');
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    mask-position: center;
}